[Desktop Entry]
Name=Emulsion
Comment=Better gaming through chemistry
Exec=emulsion
Icon=com.yPhil.Emulsion
Terminal=false
Type=Application
Categories=Utility;
