name: Update Flatpak

on:
  release:
    types: [published]  # Triggered when a new release is published in Emulsion repo

jobs:
  build-flatpak:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout manifest repo
        uses: actions/checkout@v3

      - name: Update Flatpak manifest
        uses: flatpak/flatpak-github-actions@v1
        with:
          manifest: com.yPhil.Emulsion.json
          github-token: ${{ secrets.FLATHUB_MANIFEST_TOKEN }}
