name: Update Flatpak

on:
  push:
    tags:
      - '*'  # trigger on any tag

jobs:
  build-flatpak:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build Flatpak bundle
        uses: flatpak/flatpak-github-actions@v1
        with:
          manifest-path: com.yPhil.Emulsion.json
          bundle: true
